@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 40%;
  background-color: lightblue;
  display: flex;
  flex-wrap: nowrap;
}

#header {
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1% 0;
}

#header p {
  text-transform: capitalize;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h1,
#header p {
  width: 70%;
  font-size: 2em;
}

.main-info {
  width: 20%;
}

#logo {
  width: 40%;
  min-width: 20%;
  margin-left: 5%;
  margin-bottom: 20%;
}

.task-input-container {
  display: flex;
  width: 70%;
  margin: 1% auto;
  padding: 1.5% 0;
  justify-content: center;
  background-color: #bfdce6;
  border: 1px rgb(11, 113, 179) solid;
  border-radius: 10px;
}

#new-task-input {
  width: 70%;
  padding: 1%;
  font-size: 1.3em;
  border-radius: 5px;
  border: 1px #606470 solid;
}

.bi-plus-circle {
  color: rgb(11, 113, 179);
  margin-left: 2%;
  flex-shrink: 0;
}

.task {
  padding: 1%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px rgb(11, 113, 179) solid;
  border-radius: 10px;
}

.task-list {
  padding-left: 0%;
}

.added-task {
  width: 50%;
  font-size: 1.4em;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.right-icon {
  margin-left: 3%;
}

.bi-check-square {
  color: green;
}

.bi-pencil-square,
.bi-arrow-up-circle-fill,
.bi-arrow-down-circle-fill {
  color: rgb(11, 113, 179);
}

.bi-trash3-fill {
  color: #aa0000;
}

@media only screen and (max-width: 1500px) {
  .navbar {
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #header {
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding: 1% 0;
    margin: 1% auto;
  }

  #logo {
    width: 60%;
    padding-left: 15px;
    border-bottom: 3%;
    margin-top: 2%;
    margin-bottom: 0;
  }

  h1 {
    margin-top: 2%;
    max-width: 100%;
  }

  h1,
  #header p {
    margin: 0 auto;
  }


@media only screen and (max-width: 800px) {
  .task-input-container {
    padding: 2%;
  }

  .bi-plus-circle {
    width: 7%;
  }

  .task-input {
    font-size: 1em;
    height: 3em;
  }

  .task {
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }

  .added-task {
    width: 70%;
    font-size: 1.4em;
    padding-bottom: 2%;
    text-align: center;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
