* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.task-input-container {
  display: flex;
  width: 70%;
  margin: 1% auto;
  padding: 1.5% 0;
  justify-content: center;
  background-color: #bfdce6;
  border: 1px rgb(11, 113, 179) solid;
  border-radius: 10px;
}

.task-input {
  width: 70%;
  padding: 1%;
  font-size: 1.3em;
  border-radius: 5px;
  border: 1px #606470 solid;
}

.bi-hand-thumbs-up {
  color: green;
  margin-left: 2%;
  flex-shrink: 0;
}

.task {
  padding: 1%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px rgb(11, 113, 179) solid;
  border-radius: 10px;
}

.task-list {
  padding-left: 0%;
}

.added-task {
  width: 50%;
  font-size: 1.4em;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.right-icon {
  margin-left: 3%;
}

.bi-check-square {
  color: green;
}

.bi-pencil-square,
.bi-arrow-up-circle-fill,
.bi-arrow-down-circle-fill {
  color: rgb(11, 113, 179);
}

.bi-trash3-fill {
  color: #aa0000;
}

@media only screen and (max-width: 850px) {
  .task-input-container {
    padding: 2%;
  }

  .task-input {
    font-size: 1em;
    height: 3em;
  }

  .task {
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }

  .added-task {
    width: 70%;
    font-size: 1.4em;
    padding-bottom: 2%;
    text-align: center;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
